table {
	border: 1px solid blue;
}

td:hover {
	background-color: red;
	color: yellow;
	}
	
tr, th {
	background-color: black;
	color: lime;
	font-family: 'Fuggles', cursive;
}

tr, td {
	border:5px solid green;
	background-color: black;
	color: white;
}